<kt-portlet>

	<kt-portlet-header [title]="'Products list'" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTools>
			<div *ngIf="setting$ | async as setting">
				<button style="margin-right: 5px;" *ngIf="setting.cart === 1 && isAdmin !== 3" (click)="changechartStat(product,0)" mat-raised-button color="accent" matTooltip="Create new product">Enable Cart</button>
				<button style="margin-right: 5px;" *ngIf="setting.cart === 0 && isAdmin !== 3" (click)="changechartStat(product,1)" mat-raised-button color="warn" matTooltip="Create new product">Disable Cart</button>
			</div>
			<button style="margin-right: 5px;" (click)="updateProduct()" mat-raised-button color="primary" matTooltip="Update All Products">Update All Products</button>
			<button [routerLink]="['../product/add']" mat-raised-button color="primary" matTooltip="Create new product">New Product</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">

						<div class="kt-form__control">
							<mat-form-field>
								<mat-select [(value)]="filterKondisi" (selectionChange)="loadProductsList()" class="mat-form-field mat-form-field-fluid">
									<mat-option value="">All</mat-option>
									<mat-option value="Regular">Regular</mat-option>
									<mat-option value="BestSeller">Best Product</mat-option>
								</mat-select>
								<mat-hint align="start">
									<strong>Filter by Condition</strong>
								</mat-hint>
							</mat-form-field>
						</div>

					</div>
					<div class="col-md-2 kt-margin-bottom-10-mobile">

						<div class="kt-form__control">
							<mat-form-field>
								<mat-select [(value)]="filterStatus" (selectionChange)="loadProductsList()" class="mat-form-field mat-form-field-fluid">
									<mat-option value="">All</mat-option>
									<mat-option value="0">Disable</mat-option>
									<mat-option value="1">Enable</mat-option>
								</mat-select>
								<mat-hint align="start">
									<strong>Filter by Status</strong>
								</mat-hint>
							</mat-form-field>
						</div>

					</div>
					<div class="col-md-4 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<div class="row">
								<span class="col-md-11"><input matInput placeholder="Search catalog" #searchInput placeholder="Search"></span><span class="col-md-1" style="text-align-last: right;" ><a style="cursor: pointer;" (click)="reset()"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
							</div>
							<mat-hint align="start">
								<strong>Search</strong> in all fields
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::FILTERS -->

			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS | See '../../_shared' folder -->
			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">Selected records count: {{ selection.selected.length }}</label>
						</div>
						<div class="kt-form__control kt-form__group--inline">
							<!-- <button mat-raised-button color="accent" (click)="deleteProducts()" matTooltip="Delete selected products" class="mat-button-mt-4">
								<mat-icon>delete</mat-icon>
								Delete All
							</button>&nbsp; Call 'delete-entity-dialog' from _shared folder -->
							<button mat-raised-button (click)="fetchProducts()" matTooltip="Fetch selected products" class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Fetch Selected Records
							</button>&nbsp;<!-- Call 'fetch-entity-dialog' from _shared folder -->
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
			<!-- Checkbox Column -->
			<!-- Table with selection -->
			<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="dataSource"
				matSort
				#sort1="matSort"
				matSortActive="id"
				matSortDirection="asc"
				matSortDisableClear>
				<!-- Checkbox Column -->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()"
							[color]="'primary'">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
							[color]="'primary'">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="image">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 1 5%;">Image</mat-header-cell>
					<mat-cell *matCellDef="let product" style="flex: 0 1 5%;">
						<img style="object-fit: scale-down; width: 50px; height: 50px; margin: 5px 10px 5px 0; border-radius: 50%;" src="{{localURl}}/images/product/{{product.image}}" />
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="ID">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 1 5%;">Barcode</mat-header-cell>
					<mat-cell *matCellDef="let product" style="flex: 0 1 5%;">
						<span style="cursor: pointer;" (click)="editProduct(product.id)" class="kt-id-order">{{ product.barcode }}</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 1 30%;">Name Product</mat-header-cell>
					<mat-cell *matCellDef="let product" style="flex: 0 1 30%;">
						<span style="cursor: pointer;" (click)="editProduct(product.id)" class="kt-id-order">{{product.name}}</span>
					</mat-cell>
				</ng-container>
				<!--
				<ng-container matColumnDef="category">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
					<mat-cell *matCellDef="let product">{{ getCategoryName(product.id_category) }}</mat-cell>
				</ng-container>
				-->
				<ng-container matColumnDef="stock">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">Stock</mat-header-cell>
					<mat-cell *matCellDef="let product" style="justify-content: center;">{{product.stock}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="price">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">Price</mat-header-cell>
					<mat-cell *matCellDef="let product" style="justify-content: center;">{{product.harga}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="disc">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 1 7%;">Discount</mat-header-cell>
					<mat-cell *matCellDef="let product" style="flex: 0 1 7%;">
						<button type="button" mat-icon-button>
							<span (click)="onDiscount(product)" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--abuabu kt-badge--wide">{{ product.discValue }} <span *ngIf="product.discounttype === 'Percent'">%</span></span>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
					<mat-cell *matCellDef="let product">
						<button type="button" mat-icon-button>
							<span (click)="onActive(product)" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(product.status) }} kt-badge--wide">{{ getItemStatusString(product.status) }}</span>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="kondisi">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Condition</mat-header-cell>
					<mat-cell *matCellDef="let product">
						<button type="button" mat-icon-button>
							<span (click)="onChange(product)" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByCondition(product.kondisi) }} kt-badge--wide">{{ getItemConditionString(product.kondisi) }}</span>
						</button>
						</mat-cell>
				</ng-container>

				<ng-container matColumnDef="home">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Home</mat-header-cell>
					<mat-cell *matCellDef="let product">

						<button type="button" mat-icon-button>
							<span (click)="onSet(product)" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getSetCssClassByCondition(product.home) }} kt-badge--wide">{{ getSetCssClassCondition(product.home) }}</span>
						</button>

					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef style="flex-flow: column-reverse;">
						Actions
					</mat-header-cell>
					<mat-cell *matCellDef="let product">
						<button type="button" (click)="editProduct(product.id)" mat-icon-button color="primary" matTooltip="Edit product">
							<mat-icon>edit</mat-icon>
						</button>&nbsp;
						<button mat-icon-button color="success" type="button" (click)="showImage(product)" matTooltip="Edit & Upload Image">
							<mat-icon>image</mat-icon>
						</button>&nbsp;
						<button *ngIf="product.status === 0" mat-icon-button color="warn" type="button" (click)="deleteProduct(product)" matTooltip="Delete product">
							<mat-icon>delete</mat-icon>
						</button>

						<!--
						<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">


							<button type="button" (click)="showCategory(product.id_category)" mat-menu-item type="button">
								<mat-icon>info</mat-icon>
								<span>Shipping</span>
							</button>
							<button type="button" (click)="showCategory(product.id_category)" mat-menu-item type="button">
								<mat-icon>subject</mat-icon>
								<span>Category</span>
							</button>
							<button mat-menu-item type="button">
								<mat-icon>assignment</mat-icon>
								<span>Brand</span>
							</button>

						</mat-menu>
						-->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
