<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="http://vapehan.com:4000/assets/images/email-temp/favicon/1.png" type="image/x-icon">
        <link rel="shortcut icon" href="http://192.168.1.160:4000/assets/images/email-temp/favicon/1.png" type="image/x-icon">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

        
    </head>
    <body style="text-align: center; margin: 0 auto; width: 650px; font-family: 'Open Sans', sans-serif; background-color: #ffffff; display: block;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-top: 30px; padding: 0 30px;background-color: #fff; border-bottom: unset;">
        <tbody>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-top: 30px; padding: 0 30px;background-color: #fff; border-bottom: unset;">
                <tbody>
                    <tr>
                        <td>
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="text-align: left;" width="100%">
                                <tr>
                                    <td style="border-bottom: 4px solid #a4844540;">
                                        <h3 style="float: right; margin: 0 10px 0 0;">VAPEHAN</h3>
                                        <br />
                                        <h3 style="float: right; margin: 0 10px 0 0; clear: right;">VAPE STORE</h3>
                                    </td>
                                    <td style="border-bottom: 4px solid #a4844540;">
                                        <img src="https://api.vapehan.com/api/images/email/vapehan.png" alt="" style="width: 50px; height: 50px; object-fit: scale-down;">
                                    </td>
                                </tr>                            
                            <tr>
                                    <td>
                                        <p style="font-size: 16px; margin-bottom: 20px;"><strong>Bergabung dengan Vapehan Vape Store</strong></p>
                                        <p style="font-size: 14px; margin-bottom: 20px;">Terima kasih telah mendaftar di <strong>Vapehan Store</strong> <br />
                                        Silahkan klik link di bawah ini untuk mengaktifkan akun Vapehan anda :</p>
                                        <p style="font-size: 14px; margin-bottom: 30px;"><a href="https://vapehan.com/pages/login/{{dataAkun.accessToken}}" style="width: 50%; display: block; padding: 8px 0; font-size: 16px; font-weight: 600; line-height: 1.38; text-align: center; color: #fff; background-color: #a48445; border-radius: 8px; text-decoration: none;">Activate Your Account</a></p>
    
                                        <p style="margin-top: 5px;">
                                            <strong>Note :</strong>
                                        </p>
                                        <p style="font-size: 14px;">Jika email masuk dalam spam disarankan untuk mengklik "Laporkan bukan spam" yang muncul di bagian atas email.</p>
                                    </td>
                                </tr> 
                            </table>
                                            
                        </td>
                    </tr>
                </tbody>            
            </table>
        </tbody>
        <tfoot>
            <table style="background-color: #ffff; margin-top:0; text-align: center;"  align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="padding: 30px;">
                        <div style="text-align: -webkit-left; text-align: left;">
                            <h4 style="margin:0; text-align: left; color: #444444; font-size: 14px; font-weight: bold; padding-bottom: 0; text-transform: uppercase; display: inline-block; line-height: 1;">Follow us</h4>
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0"  align="center" style="margin-top:20px; text-align: center; margin-left: 0; margin-right: 0;">
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/vapehan/" target="_blank"><img src="https://api.vapehan.com/api/images/email/facebook1.png" style="width: 30px; height: 30px; object-fit: scale-down; margin: 0 5px;" alt=""></a>
                                </td>
                                <td>
                                    <a target="_blank" href="https://www.youtube.com/channel/UCmczby514u9CnJcFO0s0Cxg"><img src="https://api.vapehan.com/api/images/email/youtube1.png" style="width: 30px; height: 30px; object-fit: scale-down; margin: 0 5px;" alt=""></a>
                                </td>
                                <td>
                                    <a href="https://www.instagram.com/vapehan.official/" target="_blank"><img src="https://api.vapehan.com/api/images/email/instagram1.png" style="width: 30px; height: 30px; object-fit: scale-down; margin: 0 5px;" alt=""></a>
                                </td>
                                <td>
                                    <a target="_blank" href="https://www.tokopedia.com/vapehan?source=universe&st=product"><img src="https://api.vapehan.com/api/images/email/tokopedia1.png" style="width: 30px; height: 30px; object-fit: scale-down; margin: 0 5px;" alt=""></a>
                                </td>
                                <td>
                                    <a target="_blank" href="https://shopee.co.id/vapehan"><img src="https://api.vapehan.com/api/images/email/shopee1.png" style="width: 30px; height: 30px; object-fit: scale-down; margin: 0 5px;" alt=""></a>
                                </td>
                                <td>
                                    <a target="_blank" href="https://www.bukalapak.com/u/vapehan"><img src="https://api.vapehan.com/api/images/email/bukalapak1.png" style="width: 30px; height: 30px; object-fit: scale-down; margin: 0 5px;" alt=""></a>
                                </td>
                            </tr>                                    
                        </table>
                        <div style="border-top: 1px solid #444; margin: 20px auto 0;"></div>
                        <table  border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 20px auto 0;" >
                            
                            <tr>
                                <td>
                                    <p style="font-size:13px; margin:0;">2019 Copy Right by Vapehan powered by HSG</p>
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table>
        </tfoot>
        </table>
    </body>
</html> 