<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a href="javascript:;" class="btn btn-danger kt-margin-r-10" (click)="onNoClick()">Close</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false);" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="category">
			<mat-tab label="Basic info">
				<ng-template matTabContent>
					<div *ngIf="category">
						<!--begin::Form-->
						<form [formGroup]="categoryForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								There Something Error in The Form, Please Check and Submit Again!
							</kt-alert>

							<div class="kt-form__section kt-form__section--first">

								<div class="kt-form__group">
									<div class="row">

										<div class="col-md-6 kt-margin-bottom-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter Name" formControlName="name">
												<mat-error>
													Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">Please enter
													<strong>Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-6 kt-margin-bottom-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Enter Parent Category" formControlName="id_parent">
													<mat-option value="{{category.id}}" *ngFor="let category of parent">{{category.name}}</mat-option>
												</mat-select>
												<mat-error>
													Parent Category
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">Please enter
													<strong>Parent Category</strong>
												</mat-hint>
											</mat-form-field>
										</div>
									</div>
								</div>

								<div class="kt-form__group">
									<div class="row">
										<div class="col-md-12 kt-margin-bottom-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="7" placeholder="Enter Description" formControlName="description"></textarea>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
