<div class="modal-header">
		<h4 class="modal-title">HSG</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<strong>Version v_1.1.5</strong>
		<br />
		<br />
		<strong>Admin Back End: </strong>
		<p>Create Reminder phone Whatapp in order list</p>
		<p>Fix check resi</p>
		<p>Fix Payment Type</p>
		<br />
		<strong>Front End: </strong>
		<p>Create Login with google</p>
		<p>Fix Register with google</p>
		<p>Fix Subdistrict rest api</p>
		<p>Fix Rest Api Ongkir</p>
		<p>Add more courier shipping</p>
		<p>Fix Doku payment</p>
		<p>Fix Create Data For Login Google</p>
		<p>Fix Check Resi</p>
		<p>Fix Reminder data</p>
		<p>Fix bug Reload after select page in order list</p>
		<p>Test Voucher</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
	</div>
